<form method="post" id="topup-form">

    <input
        type="hidden"
        name="coins"
        id="selected-coins"
        value="10000">

    <input
        type="hidden"
        name="companyid"
        id="companyid"
        value="{{companyid}}">

    <input
        type="hidden"
        name="amount"
        id="amount"
        value="100000"> 

    <input
        type="hidden"
        name="sesskey"
        value="{{sesskey}}">

    <div class="wallet-topup-container">
        <div class="wallet-header">
            <div>
                <h1>
                    {{#str}}topupwallet, local_corporatecredits{{/str}}
                </h1>

                <p>
                    {{#str}}topupwallet_desc, local_corporatecredits{{/str}}
                </p>
                
            </div>

            <div class="balance-card">

                <div class="balance-icon">
                    <i class="fa fa-wallet"></i>
                </div>

                <div>
                    <small>
                        {{#str}}currentbalance, local_corporatecredits{{/str}}
                    </small>

                    <h2>
                        {{balance}} 🪙
                    </h2>
                    <!-- <div class="d-flex justify-content-between">
                        <small>
                            {{creditin}}
                        </small>
                        <small>
                            {{creditout}}
                        </small>
                    </div>-->
                </div>

            </div>

        </div>
        
        <div class="row">

            <!-- LEFT -->
            <div class="col-12 col-md-7 col-lg-8">
                
                <div class="section-card">
                    <div class="alert-info rounded p-3 mb-3">

                        <strong>
                            {{#str}}coinprice, local_corporatecredits{{/str}}:
                        </strong>

                        {{currency}} {{coinpriceformatted}}

                        <br>

                        <strong>
                            {{#str}}minimumtopup, local_corporatecredits{{/str}}:
                        </strong>

                        {{minimumtopup}}
                        {{#str}}coins, local_corporatecredits{{/str}}

                        <br>

                        <strong>
                            {{#str}}maximumtopup, local_corporatecredits{{/str}}:
                        </strong>

                        {{maximumtopup}}
                        {{#str}}coins, local_corporatecredits{{/str}}

                    </div>
                    <h3>
                        1. {{#str}}chooseamount, local_corporatecredits{{/str}}
                    </h3>

                    <div class="amount-grid">

                        <div class="amount-card" data-coins="1000">
                            <div class="coin-icon">🪙</div>
                            <div class="amount">1,000</div>
                            <div class="label">
                                {{#str}}coins, local_corporatecredits{{/str}}
                            </div>
                        </div>

                        <div class="amount-card" data-coins="5000">
                            <div class="coin-icon">🪙</div>
                            <div class="amount">5,000</div>
                            <div class="label">
                                {{#str}}coins, local_corporatecredits{{/str}}
                            </div>
                        </div>

                        <div class="amount-card active" data-coins="10000">

                            <div class="checkmark">
                                <i class="fa fa-check"></i>
                            </div>

                            <div class="coin-icon">🪙</div>
                            <div class="amount">10,000</div>
                            <div class="label">
                                {{#str}}coins, local_corporatecredits{{/str}}
                            </div>

                        </div>

                        <div class="amount-card" data-coins="25000">
                            <div class="coin-icon">🪙</div>
                            <div class="amount">25,000</div>
                            <div class="label">
                                {{#str}}coins, local_corporatecredits{{/str}}
                            </div>
                        </div>

                        <div class="amount-card" data-coins="50000">
                            <div class="coin-icon">🪙</div>
                            <div class="amount">50,000</div>
                            <div class="label">
                                {{#str}}coins, local_corporatecredits{{/str}}
                            </div>
                        </div>

                        <div class="amount-card" data-coins="100000">
                            <div class="coin-icon">🪙</div>
                            <div class="amount">100,000</div>
                            <div class="label">
                                {{#str}}coins, local_corporatecredits{{/str}}
                            </div>
                        </div>

                        <div class="custom-card">

                            <label>
                                {{#str}}customamount, local_corporatecredits{{/str}}
                            </label>

                            <div class="custom-input">
                                <input
                                    type="text"
                                    id="custom-amount"
                                    placeholder="{{#str}}enteramount, local_corporatecredits{{/str}}">
                                <span>
                                    🪙
                                </span>
                            </div>

                            <div
                                id="custom-validation"
                                class="text-danger small mt-2"
                                style="display:none;">
                            </div>

                            <div class="text-muted small mt-2">
                                Min: {{minimumtopup}} {{#str}}coins, local_corporatecredits{{/str}}
                                •
                                Max: {{maximumtopup}} {{#str}}coins, local_corporatecredits{{/str}}
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- RIGHT -->
            <div class="col-12 col-md-5 col-lg-4">

                <!-- SUMMARY -->
                <div class="section-card sticky-card">

                    <div class="summary-header">

                        <h3>
                            2. {{#str}}paymentsummary, local_corporatecredits{{/str}}
                        </h3>

                    </div>

                    <div class="summary-sidebar">

                        <div class="summary-row">
                            <span>
                                {{#str}}youwillreceive, local_corporatecredits{{/str}}
                            </span>

                            <strong id="summary-coins">
                                10,000 🪙
                            </strong>
                        </div>

                        <div class="summary-row">
                            <span>
                                {{#str}}totalpayment, local_corporatecredits{{/str}}
                            </span>
                            <strong id="summary-payment" class="{{#is_admin}}text-muted{{/is_admin}} float-right" style="{{#is_admin}}text-decoration-line:line-through;{{/is_admin}}" >
                                100,000
                            </strong>
                            {{#is_admin}}
                            <strong>
                                0
                            </strong>
                            {{/is_admin}}    
                            <strong>
                                {{currency}}
                            </strong>
                        </div>

                        {{#is_admin}}
                        <div class="summary-row text-secondary small bg-secondary w-100 text-center p-2 rounded" id="admin">
                            <span>
                                {{#str}}admindiscount, local_corporatecredits{{/str}}
                            </span>
                            <span class="font-weight-bold">
                                {{#str}}applied, local_corporatecredits{{/str}}
                            </span>
                        </div>
                        {{/is_admin}}

                    </div>

                </div>

                <!-- PAYMENT METHOD -->
                <div class="section-card sticky-card">

                    <h3>
                        3. {{#str}}paymentmethod, local_corporatecredits{{/str}}
                    </h3>

                    <div class="payment-methods">

                        <label class="payment-option active">

                            <input
                                type="radio"
                                name="paymentmethod"
                                value="xendit"
                                checked>

                            <div>

                                <strong>Xendit</strong>

                                <small>
                                    {{#str}}instant, local_corporatecredits{{/str}}
                                </small>

                            </div>

                        </label>

                        <label class="payment-option">

                            <input
                                type="radio"
                                name="paymentmethod"
                                value="invoice">

                            <div>

                                <strong>{{#str}}invoice, local_corporatecredits{{/str}}</strong>

                                <small>
                                    {{#str}}invoicing, local_corporatecredits{{/str}}
                                </small>

                            </div>

                        </label>

                        {{#is_admin}}
                        <label class="payment-option">

                            <input
                                type="radio"
                                name="paymentmethod"
                                value="admin">

                            <div>

                                <strong>{{#str}}manual, local_corporatecredits{{/str}}</strong>
                                <small>
                                    {{#str}}manually, local_corporatecredits{{/str}}
                                </small>
                            </div>

                        </label>
                        {{/is_admin}}

                    </div>

                    <button
                        type="submit"
                        id="topup-btn"
                        class="topup-btn mt-4">

                        {{#str}}topupnow, local_corporatecredits{{/str}}

                    </button>

                    <a href="{{cancelurl}}" class="btn btn-secondary mt-4 w-100 p-3" >

                        {{#str}}cancel{{/str}}

                    </a>

                </div>

            </div>

        </div>

    </div>

</form>

<script>
document.addEventListener('DOMContentLoaded', () => {

    const IS_ADMIN = {{is_admin}};
    //alert(IS_ADMIN);
    const MIN_TOPUP = {{minimumtopup}};
    const MAX_TOPUP = {{maximumtopup}};

    const validationMessage =
    document.getElementById(
        'custom-validation'
    );

    const RATE = {{coinprice}};
    const CURRENCY = '{{currency}}';
    const amountInput =
        document.getElementById('amount');
    const cards =
        document.querySelectorAll('.amount-card');

    const customInput =
        document.getElementById('custom-amount');

    const summaryCoins =
        document.getElementById('summary-coins');

    const summaryPayment =
        document.getElementById('summary-payment');

    const selectedCoinsInput =
        document.getElementById('selected-coins');

    const submitButton =
        document.getElementById('topup-btn');

    function validateCoins(coins) {

        if (!coins) {

            validationMessage.style.display =
                'none';
            submitButton.disabled = true;

            return false;
        }

        if (coins < MIN_TOPUP) {

            validationMessage.style.display =
                'block';

            validationMessage.textContent =
                'Minimum topup is ' +
                format(MIN_TOPUP) +
                ' coins';

            submitButton.disabled = true;

            return false;
        }

        if (coins > MAX_TOPUP) {

            validationMessage.style.display =
                'block';

            validationMessage.textContent =
                'Maximum topup is ' +
                format(MAX_TOPUP) +
                ' coins';

            submitButton.disabled = true;

            return false;
        }
        
        validationMessage.style.display =
            'none';

        submitButton.disabled = false;

        return true;
    }

    function format(number) {
        return new Intl.NumberFormat('id-ID')
            .format(number);
    }

    function updateSummary(coins) {

        coins = parseInt(coins) || 0;

        const amount = coins * RATE;

        selectedCoinsInput.value = coins;
        amountInput.value = amount;

        summaryCoins.textContent =
            format(coins) + ' 🪙';

        summaryPayment.textContent =
            format(amount);
    }

    cards.forEach(card => {

        card.addEventListener('click', () => {

            cards.forEach(c => {
                c.classList.remove('active');

                const mark =
                    c.querySelector('.checkmark');

                if (mark) {
                    mark.remove();
                }
            });

            card.classList.add('active');

            const checkmark =
                document.createElement('div');

            checkmark.className = 'checkmark';

            checkmark.innerHTML =
                '<i class="fa fa-check"></i>';

            card.appendChild(checkmark);

            customInput.value = '';

            updateSummary(
                card.dataset.coins
            );

        });

    });

    customInput.addEventListener('input', function() {

        let value =
            this.value.replace(/\D/g, '');

        this.value =
            format(value);

        cards.forEach(c => {

            c.classList.remove('active');

            const mark =
                c.querySelector('.checkmark');

            if (mark) {
                mark.remove();
            }

        });

        value = parseInt(value) || 0;

        validateCoins(value);

        updateSummary(value);

    });

    document.querySelector('form')
    .addEventListener('submit', function(e) {

        const coins =
            parseInt(
                selectedCoinsInput.value
            ) || 0;

        if (!validateCoins(coins)) {

            e.preventDefault();

            customInput.focus();

            return false;
        }
    });

    updateSummary(10000);

    document.getElementById('topup-form')
    .addEventListener('submit', function(e) {

        const coins =
            parseInt(selectedCoinsInput.value) || 0;

        if (!validateCoins(coins)) {

            e.preventDefault();

            customInput.focus();

            return false;
        }

        const paymentmethod =
            document.querySelector(
                'input[name="paymentmethod"]:checked'
            ).value;

        if (paymentmethod === 'xendit') {

            this.action =
                M.cfg.wwwroot +
                '/local/corporatecredits/xendit.php';

        } else if (paymentmethod === 'invoice') {

            this.action =
                M.cfg.wwwroot +
                '/local/corporatecredits/invoice.php';

        }
    });
});
</script>