<table class="table">

    <thead>

        <tr>
            <th>{{#str}}user{{/str}}</th>
            <th>{{#str}}product, local_learningproducts{{/str}}</th>
            <th>{{#str}}status{{/str}}</th>
            <th></th>
        </tr>

    </thead>

    <tbody>

        {{#assignments}}

        <tr>

            <td>{{fullname}}</td>

            <td>{{productname}}</td>

            <td>{{status}}</td>

            <td>
                <a
                    href="{{transferurl}}"
                    class="btn btn-sm btn-warning"
                >
                    Transfer
                </a>

                <a
                    href="{{unassignurl}}"
                    class="btn btn-sm btn-danger"
                >
                    Unassign
                </a>

            </td>

        </tr>

        {{/assignments}}

    </tbody>

</table>