<div class="d-flex flex-wrap mt-2 p-2 text-muted">
    {{#str}} wltdesc, local_company {{/str}}
</div>
<div class="row">

    <div class="col-md-4">

        <div class="card">

            <div class="card-body">

                <h6>
                    Balance
                </h6>

                <h2>
                    {{wallet.balance}}
                </h2>

                <a
                    href="{{topupurl}}"
                    class="btn btn-success"
                >
                    Topup Credit
                </a>

            </div>

        </div>

    </div>

</div>