<div class="d-flex flex-wrap mt-2 p-2 text-muted">
    {{#str}} mmbdesc, local_company {{/str}}
</div>

<div class="d-flex flex-wrap my-3 card my-3">

    <div class="card-body p-0">

        <table class="table mb-0">

            <thead>

                <tr>
                    <th>{{#str}} name{{/str}}</th>
                    <th>{{#str}} department {{/str}}</th>
                    <th>{{#str}} role {{/str}}</th>
                    <th width="250">
                        {{#str}} action {{/str}}
                    </th>
                </tr>

            </thead>

            <tbody>

                {{#members}}

                <tr>

                    <td>
                        {{fullname}}
                    </td>

                    <td>
                        {{department}}
                    </td>

                    <td class="text-uppercase">
                        {{role}}
                    </td>

                    <td>

                        <a
                            href="{{assignurl}}"
                            class="btn btn-sm btn-success"
                        >
                            {{#str}}enrol, core_enrol{{/str}}
                        </a>

                        <a
                            href="{{editurl}}"
                            class="btn btn-sm btn-secondary"
                        >
                            {{#str}}edit{{/str}}
                        </a>

                        <a
                            href="{{suspendurl}}"
                            class="btn btn-sm btn-danger"
                        >
                            {{#str}}suspended{{/str}}
                        </a>

                    </td>

                </tr>

                {{/members}}

            </tbody>

        </table>

    </div>

</div>